body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%; 
    padding-left: 2%;

}
.half-width img{
    width: 75%;
    margin-top: 6%;
    margin-left: 10%;
   
}

.hire-btn{
    background-image:linear-gradient(45deg, orange, tomato) ;
    color: white;
    
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}